.container--big-long {
    height: 100vh;
    width: 100vw;
}

.container--small-long {
    height: 50vh;
    width: 100vw;
}

.container--small-short {
    height: 50vh;
    width: 50vw;
    min-height: 50vh;
    min-width: 50vw;
}

.container_margin-top {
    margin-top: 5%;
}

.container--big-long_successively {
    display: flex;
    flex-wrap: wrap;
}

.background_padding {
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.contaner-center {
     display: flex;
    justify-content: center;
    align-items: center;
}
.container-low{
    height: 20%; 
}
.container-vertical-center{   
    display: flex;  
    align-items: center; 
}
.background {
    height: inherit;
    width: inherit;
}

.background_blue {
    background-color: #10749e;
}
.background_dark {
    background-color: #222222;
}

.background_image {
    background-repeat: no-repeat;
    background-size: cover;
}
.background_start-page {
    background-image: url('../img/start-page.png');   
    border-bottom: 1px solid white;
}
.background_key-feature {
    background-image: url('../img/keyFeature.png');
}

.background_contact-area {
    background-image: url('../img/contactAreaBackground.png');
}

.background_map {
    height: 80%;
    background-image: url('../img/map.png');
}

.blue-block {
    margin: 15px 0;
    padding: 10px 0;
    background-color: #11749e;
}

.blue-block_short {
    width: 90%;
}

.blue-block_long {
    width: 110%;
}